@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');


body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(201, 182, 160);
}

details {
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    padding: 1rem;
    margin: .5rem;
    background-color: rgb(238, 162, 215, 0.8);
    border: 2px solid rgb(230, 125, 230);
    box-shadow: 2px 2px 6px 5px rgb(0, 0, 0, 0.2);
}

details p { 
    font-size: medium;
    font-weight: normal;
}











